body {
	margin: 0;
	width: 1920px;
}

body,input {
	font-family: 'Montserrat', sans-serif;
}

/** HEADER **/

.div-container-header {
	width: 100%;
	border: 1px  black;

}

.table-header td {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
}

/** FINE HEADER **/

.corsivo {
	font-family: 'Yellowtail', cursive;
}

.div-login, .div-registrazione {
	border: 1px  black;
	margin: 0 auto;
	margin-top: 200px;
	width: 270px;
}

.input-base {
	width: 90%;
	border: none;
	border-bottom: 2px solid black;
	margin: 10px;
	padding: 3px;
	outline: none;
}

.a-base {
	font-size: 13px;
	text-decoration: underline;
	cursor: pointer;
}

.a-header {
	font-size: 13px;
	text-decoration: none;
	cursor: pointer;
}

.messaggio {
	font-size: 13px;
}
