body {
	margin: 0;
	width: 1920px;
	height: 860px;
}

body,input {
	font-family: 'Montserrat', sans-serif;
}

/** TOOLTIP **/
.tooltip_templates { display: none; }

.tooltipster-sidetip.tooltipster-customized .tooltipster-box {
	background: #5c5c5c;
	border: 1px solid #fff;
	border-radius: 0px;
	
}

.tooltipster-sidetip.tooltipster-customized .tooltipster-content {
	color: #fff;
	padding: 8px;
	font-size: 12px;
}

.tooltipster-sidetip .tooltipster-arrow-background, .tooltipster-sidetip .tooltipster-arrow-border {
	height: 0;
	position: absolute;
	width: 0;
}

/* .tooltipster-arrow-background */

.tooltipster-sidetip.tooltipster-customized .tooltipster-arrow-background {
	border: 10px  transparent;
}

.tooltipster-sidetip.tooltipster-customized.tooltipster-bottom .tooltipster-arrow-background {
	border-bottom-color: #5c5c5c;
	left: 0px;
	top: 3px;
}

.tooltipster-sidetip.tooltipster-customized.tooltipster-left .tooltipster-arrow-background {
	border-left-color: #5c5c5c;
	left: -3px;
	top: 0px;
}

.tooltipster-sidetip.tooltipster-customized.tooltipster-right .tooltipster-arrow-background {
	border-right-color: #5c5c5c;
	left: 3px;
	top: 0px;
}

.tooltipster-sidetip.tooltipster-customized.tooltipster-top .tooltipster-arrow-background {
	border-top-color: #5c5c5c;
	left: 0px;
	top: -3px;
}

/* .tooltipster-arrow-border */

.tooltipster-sidetip.tooltipster-customized .tooltipster-arrow-border {
	border: 10px  transparent;
	left: 0;
	top: 0;
}

.tooltipster-sidetip.tooltipster-customized.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom-color: black;
}

.tooltipster-sidetip.tooltipster-customized.tooltipster-left .tooltipster-arrow-border {
	border-left-color: black;
}

.tooltipster-sidetip.tooltipster-customized.tooltipster-right .tooltipster-arrow-border {
	border-right-color: black;
}

.tooltipster-sidetip.tooltipster-customized.tooltipster-top .tooltipster-arrow-border {
	border-top-color: black;
}



/** HEADER **/

.div-container-header {
	width: 100%;
	border: 1px  black;
	height: 30px;
	background-color: #5c5c5c;
}

.table-header {
	height: 100%
}

.table-header td {
	text-color: #000;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	vertical-align: center;
}

/** FINE HEADER **/

.corsivo, .corsivo-medium, .corsivo-large {
	font-family: 'Rancho', cursive;
}

.corsivo-medium {
	font-size: 20px;
}

.corsivo-large {
	font-size: 30px;
}

.div-login, .div-registrazione {
	border: 1px  black;
	margin: 0 auto;
	margin-top: 200px;
	width: 270px;
}

.input-base {
	width: 90%;
	border: none;
	border-bottom: 2px solid black;
	margin: 10px;
	padding: 3px;
	outline: none;
}

.a-base {
	font-size: 13px;
	text-decoration: underline;
	cursor: pointer;
}

.a-header {
	font-size: 13px;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
}

.messaggio {
	font-size: 13px;
}

/** RUN PAGE **/

.table-main-container {
	border: 1px  black;
	width: 100%;
	border-collapse: collapse;
	height: 100%;
	margin-top: 10px;
}

.table-main-container td {
	border: 1px red;
	padding: 5px;
	vertical-align: top;
	font-size: 13px;
}

.table-main-container .td-main-panel {
	
}

/** RUN PAGE - COLONNA SINISTRA **/

.table-lista-virtus, .table-lista-stats {
	border: 1px  black;
	border-collapse: collapse;
}

.table-lista-virtus thead td {
	
	font-size: 13px;
	font-weight: bold;
	border-bottom: 2px  #5c5c5c;
}



.table-lista-virtus td,.table-lista-stats td {

	border: 1px black;
	padding:1px;
	cursor: default;
	vertical-align: bottom;
}

.table-lista-virtus .td-valore, .table-lista-stats .td-valore {
	text-align: right;
}























